@import '../../../index.scss';

.button {
  font-size: 1.35rem;
  border: none;
  background-color: $color-teal-light;
  padding: 1rem 1.5rem;
  border-radius: $border-radius-5px;
  color: $color-white;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-family: $font-family-inter;
  font-weight: $font-medium;
  transition: $transition-3s;

  @include for-tablet {
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
    gap: 0.8rem;
  }

  &:hover {
    background-color: $color-primary-teal;
    cursor: pointer;
  }

  &__icon {
    font-size: 1.4rem;
  }

  &__disabled {
    pointer-events: none !important;
    background-color: $color-teal-fade !important;
    transition: none !important;
  }
}
