@import '../../index.scss';

.Toastify__toast {
  font-family: $font-family-inter;
  font-size: 1.2rem;
  font-weight: $font-medium !important;
  color: #666;

  @include for-tablet {
    font-size: 1.4rem;
  }
}
